.card.card-primary.border.border-primary
  .card-header
    .d-flex.justify-content-between.align-items-center
      %ul.nav.nav-pills.flex-column.flex-lg-row.nav-justified
        - if policy(::DosageForm).index?
          %li.nav-item
            = link_to t(".active"), admin_dosage_forms_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("index"))}"
        - if policy(::DosageForm).inactive?
          %li.nav-item
            = link_to t(".inactive"), inactive_admin_dosage_forms_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("inactive"))}"
      - if policy(::DosageForm).new?
        = link_to new_admin_dosage_form_path, class: "btn btn-primary", data: {turbo_frame: :remote_modal} do
          = external_svg_tag("svgs/plus.svg")
          %span.d-block.d-lg-none= button_text("new")
          %span.d-none.d-lg-block= button_text("new_dosage_form")
  .card-body{data: {controller: "select-all-checkbox"}}
    = render_if_exists("admin/dosage_forms/dosage_form")
  - if @pagy.pages > 1
    .card-footer
      = render_if_exists("shared/pagination", locals: {pagy: @pagy})
