.card.card-primary.border.border-primary
  .card-header
    .d-flex.justify-content-between.align-items-center
      %ul.nav.nav-pills.flex-column.flex-lg-row.nav-justified
        - if policy(::Medicine).index?
          %li.nav-item
            = link_to t(".all"), medicines_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("index"))}"
        - if policy(::Medicine).active?
          %li.nav-item
            = link_to t(".active"), active_medicines_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("active"))}"
        - if policy(::Medicine).inactive?
          %li.nav-item
            = link_to t(".inactive"), inactive_medicines_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("inactive"))}"
      .d-flex.justify-content-between.flex-column.flex-lg-row
        = link_to "javascript:void(0)", class: "btn btn-secondary me-0 me-lg-2 mb-2 mb-lg-0" do
          = external_svg_tag("svgs/cloud-upload.svg")
          %span.d-block.d-lg-none= button_text("import")
          %span.d-none.d-lg-block= button_text("import_medicines")
        - if policy(::Medicine).new?
          = link_to new_medicine_path, class: "btn btn-primary" do
            = external_svg_tag("svgs/plus.svg")
            %span.d-block.d-lg-none= button_text("new")
            %span.d-none.d-lg-block= button_text("new_medicine")
  .card-body{data: {controller: "select-all-checkbox"}}
    = render_if_exists("medicines/medicine")
  - if @pagy.pages > 1
    .card-footer
      = render_if_exists("shared/pagination", locals: {pagy: @pagy})
