= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @packing_types&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{scope: "col"}= t(".name")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @packing_types&.each.with_index(1) do |packing_type, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "packing_type_ids[]", packing_type.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= packing_type.name
          %td.actions
            - if policy(packing_type).edit?
              = link_to external_svg_tag("svgs/pencil.svg"), edit_admin_packing_type_path(packing_type), class: "btn btn-sm btn-secondary",
                data: {turbo_frame: :remote_modal}
            - if policy(packing_type).deactivate? && packing_type.is_active?
              = link_to external_svg_tag("svgs/cancel.svg"), deactivate_admin_packing_type_path(packing_type), class: "btn btn-sm btn-secondary",
                data: {turbo_confirm: t(".deactivate_packing_type_confirmation_text", packing_type_name: packing_type.name), turbo_method: :patch}
            - if policy(packing_type).activate? && !packing_type.is_active?
              = link_to external_svg_tag("svgs/check-mark.svg"), activate_admin_packing_type_path(packing_type), class: "btn btn-sm btn-secondary",
                data: {turbo_confirm: t(".activate_packing_type_confirmation_text", packing_type_name: packing_type.name), turbo_method: :patch}
            - if policy(packing_type).destroy?
              = link_to external_svg_tag("svgs/trash.svg"), admin_packing_type_path(packing_type), class: "btn btn-sm btn-danger",
                data: {turbo_confirm: t(".delete_packing_type_confirmation_text", packing_type_name: packing_type.name), turbo_method: :delete}
      - end.empty?
        %tr
          %td.fw-bold{colspan: ::DosageForm.columns.count}
            - if current_action?("active")
              = t(".no_active_packing_types_to_display")
            - elsif current_action?("inactive")
              = t(".no_inactive_packing_types_to_display")
            - else
              = t(".no_packing_types_to_display")
