.card.mb-2.mb-lg-0.d-flex
  .card-header
    .card-title= t(".month_report", month_and_year: Date.current.to_fs(:month_and_year))
  .card-body
    .table-responsive
      %table.table.table-striped.table-bordered
        - month_expenses = @store.expenses.this_month
        %tbody
          %tr
            %th{width: "25px", scope: "col"}= t(".number_of_sells")
            %td 0
          %tr
            %th{width: "25px", scope: "col"}= t(".total_sales_amount")
            %td= number_to_currency(0, unit: @store.currency_symbol)
          %tr
            %th{width: "25px", scope: "col"}= t(".number_of_purchases")
            %td 0
          %tr
            %th{width: "25px", scope: "col"}= t(".total_purchases_amount")
            %td= number_to_currency(0, unit: @store.currency_symbol)
          %tr
            %th{width: "25px", scope: "col"}= t(".number_of_expenses")
            %td= month_expenses.count
          %tr
            %th{width: "25px", scope: "col"}= t(".total_expenses_amount")
            %td= number_to_currency(month_expenses.sum(&:amount), unit: @store.currency_symbol)
