.card
  .card-header
    .card-title= t(".today_report")
  .card-body
    .table-responsive
      %table.table.table-striped.table-bordered
        - today_expenses = @store.expenses.approved.today
        - today_purchases = @store.purchase_orders.received.today
        %tbody
          %tr
            %th{width: "25px", scope: "col"}= t(".number_of_sells")
            %td 0
          %tr
            %th{width: "25px", scope: "col"}= t(".total_sales_amount")
            %td= number_to_currency(0, unit: @store.currency_symbol)
          %tr
            %th{width: "25px", scope: "col"}= t(".number_of_purchases")
            %td= today_purchases.size
          %tr
            %th{width: "25px", scope: "col"}= t(".total_purchases_amount")
            %td= number_to_currency(today_purchases.total_cost, unit: @store.currency_symbol)
          %tr
            %th{width: "25px", scope: "col"}= t(".number_of_expenses")
            %td= today_expenses.size
          %tr
            %th{width: "25px", scope: "col"}= t(".total_expenses_amount")
            %td= number_to_currency(today_expenses.total_amount, unit: @store.currency_symbol)
