= title(t(".title"))
= turbo_stream_from :customers
= turbo_stream_from :suppliers
= turbo_stream_from :manufacturers
.card.card-primary.border.border-primary
  .card-body
    .row
      .col-12.col-lg-6.col-xl-8
        .row
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2
                      = turbo_frame_tag :active_customers_count do
                        = ::Customer.active.count
                    %p.mb-2= t(".total_customers")
                  .d-inline-block
                    = external_svg_tag("svgs/handshake.svg", height: "48px", width: "48px")
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2
                      = turbo_frame_tag :active_suppliers_count do
                        = ::Supplier.active.count
                    %p.mb-2= t(".total_suppliers")
                  .d-inline-block
                    = external_svg_tag("svgs/truck.svg", height: "48px", width: "48px")
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2
                      = turbo_frame_tag :active_manufacturers_count do
                        = ::Manufacturer.active.count
                    %p.mb-2= t(".total_manufacturers")
                  .d-inline-block
                    = external_svg_tag("svgs/company.svg", height: "48px", width: "48px")
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2 13
                    %p.mb-2= t(".total_medicines")
                  .d-inline-block
                    = external_svg_tag("svgs/medicine-bag.svg", height: "48px", width: "48px")
        .row
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2 1
                    %p.mb-2= t(".low_stock_medicines")
                  .d-inline-block
                    = external_svg_tag("svgs/bell-ringing.svg", height: "48px", width: "48px")
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2 0
                    %p.mb-2= t(".out_of_stock_medicines")
                  .d-inline-block
                    = external_svg_tag("svgs/exclamation-triangle.svg", height: "48px", width: "48px")
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2 0
                    %p.mb-2= t(".nearby_expiry")
                  .d-inline-block
                    = external_svg_tag("svgs/lightening.svg", height: "48px", width: "48px")
          .col-12.col-sm-6.col-xxl-3.d-flex
            .card.flex-fill.mb-2
              .card-body
                .d-flex.align-items-start
                  .flex-grow-1
                    %h3.mb-2 0
                    %p.mb-2= t(".expired_medicines")
                  .d-inline-block
                    = external_svg_tag("svgs/ban.svg", height: "48px", width: "48px")
      .col-12.col-md-6.col-xl-4
        = render_if_exists("manager/dashboards/today_report")
