%header.border-bottom
  .container-fluid.py-1.bg-light.border-bottom
    .row.align-items-center
      .col-lg-6.col-12.d-flex.justify-content-center.justify-content-lg-start
        = render_if_exists("shared/live_clock")
      .col-lg-6.col-12.d-none.d-lg-flex.justify-content-center.justify-content-lg-end
  %nav.navbar.navbar-light.bg-light.navbar-expand-lg.divider{aria: {label: t(".main_navigation")}}
    .container-fluid
      = link_to "", root_path, class: "medici-logo"
      .d-flex.ms-auto
        = button_tag type: :button, class: "navbar-toggler collapsed", data: {bs_toggle: "collapse", bs_target: "#navbar"},
          aria: {controls: "navbar-default", expanded: false, label: t(".toggle_navigation")} do
          %span.icon-bar.top-bar.mt-0
          %span.icon-bar.middle-bar
          %span.icon-bar.bottom-bar
      #navbar.navbar-collapse.collapse
        %ul.navbar-nav.me-auto.order-1
          %li.nav-item
            = link_to admin_dashboard_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/dashboards"))}" do
              = external_svg_tag("svgs/home.svg")
              = t(".home")
          - if policy(::User).active?
            %li.nav-item
              = link_to active_admin_users_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/users"))}" do
                = external_svg_tag("svgs/users.svg")
                = t(".users")
          - if policy(::Store).active?
            %li.nav-item
              = link_to active_admin_stores_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/stores"))}" do
                = external_svg_tag("svgs/store.svg")
                = t(".stores")
          - if policy(::Medicine).active?
            %li.nav-item
              = link_to active_admin_medicines_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/medicines"))}" do
                = external_svg_tag("svgs/medicine-bag.svg")
                = t(".medicines")
          %li.nav-item.dropdown
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center dropdown-toggle",
              aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
              = external_svg_tag("svgs/database.svg")
              = t(".metadata")
            %ul.dropdown-menu
              - if policy(::Currency).active?
                %li
                  = link_to active_admin_currencies_path, class: "dropdown-item" do
                    = t(".currencies")
              - if policy(::Country).active?
                %li
                  = link_to active_admin_countries_path, class: "dropdown-item" do
                    = t(".countries")
              - if policy(::DosageForm).active?
                %li
                  = link_to active_admin_dosage_forms_path, class: "dropdown-item" do
                    = t(".dosage_forms")
              - if policy(::MedicineCategory).active?
                %li
                  = link_to active_admin_medicine_categories_path, class: "dropdown-item" do
                    = t(".medicine_categories")
              - if policy(::Ingredient).active?
                %li
                  = link_to active_admin_ingredients_path, class: "dropdown-item" do
                    = t(".ingredients")
              - if policy(::PackingType).active?
                %li
                  = link_to active_admin_packing_types_path, class: "dropdown-item" do
                    = t(".packing_types")
        %ul.navbar-nav.d-none.d-lg-flex.ms-2.order-3
          = render_if_exists("layouts/admin/menu")
        %ul.navbar-nav.d-lg-none
          %li.nav-item-divider
          = render_if_exists("layouts/admin/menu")
