%header.border-bottom
  .container-fluid.py-1.bg-light.border-bottom
    .row.align-items-center
      .col-lg-6.col-12.d-flex.justify-content-center.justify-content-lg-start
        = render_if_exists("shared/live_clock")
      .col-lg-6.col-12.d-none.d-lg-flex.justify-content-center.justify-content-lg-end
  %nav.navbar.navbar-light.bg-light.navbar-expand-lg.divider{aria: {label: t(".main_navigation")}}
    .container-fluid
      = link_to "", admin_dashboard_path, class: "medici-logo"
      .d-flex.ms-auto
        = button_tag type: :button, class: "navbar-toggler collapsed", data: {bs_toggle: "collapse", bs_target: "#navbar"},
          aria: {controls: "navbar-default", expanded: false, label: t(".toggle_navigation")} do
          %span.icon-bar.top-bar.mt-0
          %span.icon-bar.middle-bar
          %span.icon-bar.bottom-bar
      #navbar.navbar-collapse.collapse
        %ul.navbar-nav.me-auto.order-1
          %li.nav-item
            = link_to admin_dashboard_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/dashboards"))}" do
              = external_svg_tag("svgs/home.svg")
              = t(".home")
          %li.nav-item
            = link_to admin_users_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/users"))}" do
              = external_svg_tag("svgs/users.svg")
              = t(".users")
          %li.nav-item
            = link_to admin_stores_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/stores"))}" do
              = external_svg_tag("svgs/store.svg")
              = t(".stores")
          %li.nav-item
            = link_to admin_medicines_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("admin/medicines"))}" do
              = external_svg_tag("svgs/medicine.svg")
              = t(".medicines")
          %li.nav-item.dropdown
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center dropdown-toggle",
              aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
              = external_svg_tag("svgs/database.svg")
              = t(".metadata")
            %ul.dropdown-menu
              %li
                = link_to admin_currencies_path, class: "dropdown-item" do
                  = t(".currencies")
              %li
                = link_to admin_countries_path, class: "dropdown-item" do
                  = t(".countries")
              %li
                = link_to admin_dosage_forms_path, class: "dropdown-item" do
                  = t(".dosage_forms")
              %li
                = link_to admin_medicine_categories_path, class: "dropdown-item" do
                  = t(".medicine_categories")
              - if policy(::Ingredient).index?
                %li
                  = link_to admin_ingredients_path, class: "dropdown-item" do
                    = t(".ingredients")
              %li
                = link_to admin_packing_types_path, class: "dropdown-item" do
                  = t(".packing_types")
        %ul.navbar-nav.d-none.d-lg-flex.ms-2.order-3
          %li.nav-item.dropdown
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1 dropdown-toggle",
              aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
              = t(".hello_username", username: current_user.full_name)
            %ul.dropdown-menu.dropdown-menu-end
              %li
                %h6.dropdown-header.fw-bold= t(".your_account")
              %li
                = link_to t(".your_profile"), admin_profile_path, class: "dropdown-item"
              %li.dropdown-divider
              %li
                = link_to t(".sign_out"), destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}
        %ul.navbar-nav.d-lg-none
          %li.nav-item-divider
          %li.nav-item.dropdown
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1 dropdown-toggle",
              aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
              = t(".hello_username", username: current_user.full_name)
            %ul.dropdown-menu.dropdown-menu-end
              %li
                %h6.dropdown-header.fw-bold= t(".your_account")
              %li
                = link_to t(".your_profile"), admin_profile_path, class: "dropdown-item"
              %li.dropdown-divider
              %li
                = link_to t(".sign_out"), destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}
.nav-scroller.shadow-sm.border-bottom.bg-light
  %nav.nav.nav-underline{aria: {label: t(".secondary_navigation")}}
    = link_to admin_customers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("customers"))}" do
      = external_svg_tag("svgs/handshake.svg")
      = t(".customers")
    = link_to admin_suppliers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("suppliers"))}" do
      = external_svg_tag("svgs/truck.svg")
      = t(".suppliers")
    = link_to admin_manufacturers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manufacturers"))}" do
      = external_svg_tag("svgs/company.svg")
      = t(".manufacturers")
    = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("sales"))}" do
      = external_svg_tag("svgs/monitoring-dashboard.svg")
      = t(".sales")
    = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("reports"))}" do
      = external_svg_tag("svgs/report.svg")
      = t(".reports")
