%li.nav-item.dropdown
  = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1 dropdown-toggle",
    aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
    = t(".hello_username", username: current_user.full_name)
  %ul.dropdown-menu.dropdown-menu-end
    %li
      %h6.dropdown-header.fw-bold= t(".your_account")
    %li
      = link_to t(".your_profile"), admin_profile_path, class: "dropdown-item"
    %li.dropdown-divider
    %li
      = link_to t(".sign_out"), destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}
