.nav-scroller.shadow-sm.border-bottom.bg-light
  %nav.nav.nav-underline{aria: {label: t(".secondary_navigation")}}
    - if policy(::Customer).active?
      = link_to active_admin_customers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/customers"))}" do
        = external_svg_tag("svgs/handshake.svg")
        = t(".customers")
    - if policy(::Supplier).active?
      = link_to active_admin_suppliers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/suppliers"))}" do
        = external_svg_tag("svgs/truck.svg")
        = t(".suppliers")
    - if policy(::Manufacturer).active?
      = link_to active_admin_manufacturers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/manufacturers"))}" do
        = external_svg_tag("svgs/company.svg")
        = t(".manufacturers")
    - if policy(::Shift).active?
      = link_to active_admin_shifts_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/shifts"))}" do
        = external_svg_tag("svgs/clock.svg")
        = t(".shifts")
    - if policy(::PurchaseOrder).pending?
      = link_to pending_admin_purchase_orders_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/purchase_orders"))}" do
        = external_svg_tag("svgs/file.svg")
        = t(".purchase_orders")
    - if policy(::TaxRate).index?
      = link_to admin_tax_rates_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/tax_rates"))}" do
        = external_svg_tag("svgs/dollars.svg")
        = t(".tax_rates")
    - if policy(::Discount).index?
      = link_to admin_discounts_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/discounts"))}" do
        = external_svg_tag("svgs/gift.svg")
        = t(".discounts")
    - if policy(::Expense).pending?
      = link_to pending_admin_expenses_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/expenses"))}" do
        = external_svg_tag("svgs/rupee.svg")
        = t(".expenses")
    = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/sells"))}" do
      = external_svg_tag("svgs/monitoring-dashboard.svg")
      = t(".sells")
    = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("admin/reports"))}" do
      = external_svg_tag("svgs/report.svg")
      = t(".reports")
