%header.border-bottom
  %nav.navbar.navbar-light.bg-light.navbar-expand-lg.divider{aria: {label: t(".main_navigation")}}
    .container-fluid
      = link_to "", manager_dashboard_path, class: "medici-logo"
      .d-flex.ms-auto
        = button_tag type: :button, class: "navbar-toggler collapsed", data: {bs_toggle: "collapse", bs_target: "#navbar"},
          aria: {controls: "navbar-default", expanded: false, label: t(".toggle_navigation")} do
          %span.icon-bar.top-bar.mt-0
          %span.icon-bar.middle-bar
          %span.icon-bar.bottom-bar
      #navbar.navbar-collapse.collapse
        %ul.navbar-nav.me-auto.order-1
          %li.nav-item
            = link_to manager_dashboard_path, class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/home.svg")
              = t(".home")
          %li.nav-item
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/users.svg")
              = t(".cashiers")
          %li.nav-item
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/medicine.svg")
              = t(".medicines")
          %li.nav-item
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/medicine-bag.svg")
              = t(".suppliers")
          %li.nav-item
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/monitoring-dashboard.svg")
              = t(".sales")
          %li.nav-item
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/report.svg")
              = t(".daily_sales")
          %li.nav-item
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1" do
              = external_svg_tag("svgs/report.svg")
              = t(".reports")
        %ul.navbar-nav.d-none.d-lg-flex.ms-2.order-3
          %li.nav-item.dropdown
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1 dropdown-toggle",
              aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
              = t(".hello_username", username: current_user.full_name)
            %ul.dropdown-menu.dropdown-menu-end
              %li
                %h6.dropdown-header.fw-bold= t(".your_account")
              %li
                = link_to t(".your_profile"), "javascript:void(0)", class: "dropdown-item"
              %li
                = link_to t(".your_store_details"), "javascript:void(0)", class: "dropdown-item"
              %li.dropdown-divider
              %li
                = link_to t(".sign_out"), destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}
        %ul.navbar-nav.d-lg-none
          %li.nav-item-divider
          %li.nav-item.dropdown
            = link_to "javascript:void(0)", class: "nav-link d-inline-flex align-items-center gap-1 dropdown-toggle",
              aria: {expanded: false}, data: {bs_toggle: "dropdown"} do
              = t(".hello_username", username: current_user.full_name)
            %ul.dropdown-menu.dropdown-menu-end
              %li
                %h6.dropdown-header.fw-bold= t(".your_account")
              %li
                = link_to t(".your_profile"), "javascript:void(0)", class: "dropdown-item"
              %li
                = link_to t(".your_store_details"), "javascript:void(0)", class: "dropdown-item"
              %li.dropdown-divider
              %li
                = link_to t(".sign_out"), destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}
