%header.border-bottom
  .container-fluid.py-1.bg-light.border-bottom
    .row.align-items-center
      .col-lg-6.col-12.d-flex.justify-content-center.justify-content-lg-start
        = render_if_exists("shared/live_clock")
      .col-lg-6.col-12.d-none.d-lg-flex.justify-content-center.justify-content-lg-end
  %nav.navbar.navbar-light.bg-light.navbar-expand-lg.divider{aria: {label: t(".main_navigation")}}
    .container-fluid
      = link_to "", root_path, class: "medici-logo"
      .d-flex.ms-auto
        = button_tag type: :button, class: "navbar-toggler collapsed", data: {bs_toggle: "collapse", bs_target: "#navbar"},
          aria: {controls: "navbar-default", expanded: false, label: t(".toggle_navigation")} do
          %span.icon-bar.top-bar.mt-0
          %span.icon-bar.middle-bar
          %span.icon-bar.bottom-bar
      #navbar.navbar-collapse.collapse
        %ul.navbar-nav.me-auto.order-1
          %li.nav-item
            = link_to manager_dashboard_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("manager/dashboards"))}" do
              = external_svg_tag("svgs/home.svg")
              = t(".home")
          - if policy(::Medicine).index?
            %li.nav-item
              = link_to manager_medicines_path, class: "nav-link d-inline-flex align-items-center #{active_when(current_controller?("manager/medicines"))}" do
                = external_svg_tag("svgs/medicine-bag.svg")
                = t(".medicines")
        %ul.navbar-nav.d-none.d-lg-flex.ms-2.order-3
          = render_if_exists("layouts/manager/menu")
        %ul.navbar-nav.d-lg-none
          %li.nav-item-divider
          = render_if_exists("layouts/manager/menu")
