.nav-scroller.shadow-sm.border-bottom.bg-light
  %nav.nav.nav-underline{aria: {label: t(".secondary_navigation")}}
    - if policy(::Customer).index?
      = link_to manager_customers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/customers"))}" do
        = external_svg_tag("svgs/handshake.svg")
        = t(".customers")
    - if policy(::Supplier).index?
      = link_to manager_suppliers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/suppliers"))}" do
        = external_svg_tag("svgs/truck.svg")
        = t(".suppliers")
    - if policy(::Manufacturer).index?
      = link_to manager_manufacturers_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/manufacturers"))}" do
        = external_svg_tag("svgs/company.svg")
        = t(".manufacturers")
    - if policy(::PurchaseOrder).index?
      = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/purchase_orders"))}" do
        = external_svg_tag("svgs/file.svg")
        = t(".purchase_orders")
    - if policy(::Expense).index?
      = link_to manager_expenses_path, class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/expenses"))}" do
        = @store.currency_symbol
        = t(".expenses")
    = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/sells"))}" do
      = external_svg_tag("svgs/monitoring-dashboard.svg")
      = t(".sells")
    = link_to "javascript:void(0)", class: "nav-link d-flex px-2 align-items-center #{active_when(current_controller?("manager/eports"))}" do
      = external_svg_tag("svgs/report.svg")
      = t(".reports")
