= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @stores&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{width: "25px", scope: "col"}= t(".reference_code")
        %th{scope: "col"}= t(".registration_number")
        %th{scope: "col"}= t(".name")
        %th{scope: "col"}= t(".email")
        %th{scope: "col"}= t(".phone_number")
        %th{scope: "col"}= t(".country")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @stores&.each.with_index(1) do |store, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "store_ids[]", store.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= store.reference_code
          %td= store.registration_number
          %td= store.name
          %td= mail_to store.email
          %td= store.phone_number
          %td= store.country_name
          %td.actions
            - if policy(store).edit?
              = link_to external_svg_tag("svgs/pencil.svg"), edit_admin_store_path(store), class: "btn btn-sm btn-secondary"
            - if policy(store).destroy?
              = link_to external_svg_tag("svgs/trash.svg"), admin_store_path(store), class: "btn btn-sm btn-danger",
                data: {turbo_confirm: t(".delete_store_confirmation_text", store_name: store.name), turbo_method: :delete}
      - end.empty?
        %tr
          %td.fw-bold{colspan: ::Store.columns.count}
            = t(".no_stores_to_display")
