= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @customers&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{width: "25px", scope: "col"}= t(".reference_code")
        %th{scope: "col"}= t(".name")
        %th{scope: "col"}= t(".email")
        %th{scope: "col"}= t(".mobile_number")
        %th{scope: "col"}= t(".country")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @customers&.each.with_index(1) do |customer, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "customer_ids[]", customer.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= customer.reference_code
          %td= customer.name
          %td= mail_to customer.email
          %td= customer.mobile_number
          %td= customer.country_name
          %td.actions
            - if policy(customer).edit?
              = link_to external_svg_tag("svgs/pencil.svg"), edit_customer_path(customer), class: "btn btn-sm btn-secondary"
            - if policy(customer).deactivate? && customer.is_active?
              = link_to external_svg_tag("svgs/cancel.svg"), deactivate_customer_path(customer), class: "btn btn-sm btn-secondary",
                data: {turbo_confirm: t(".deactivate_customer_confirmation_text", customer_name: customer.name), turbo_method: :patch}
            - if policy(customer).activate? && !customer.is_active?
              = link_to external_svg_tag("svgs/check-mark.svg"), activate_customer_path(customer), class: "btn btn-sm btn-secondary",
                data: {turbo_confirm: t(".activate_customer_confirmation_text", customer_name: customer.name), turbo_method: :patch}
            - if policy(customer).destroy?
              = link_to external_svg_tag("svgs/trash.svg"), customer_path(customer), class: "btn btn-sm btn-danger",
                data: {turbo_confirm: t(".delete_customer_confirmation_text", customer_name: customer.name), turbo_method: :delete}
      - end.empty?
        %tr
          %td.fw-bold{colspan: ::Customer.columns.count}
            = t(".no_customers_to_display")
