.card.card-primary.border.border-primary
  .card-header
    .d-flex.justify-content-between.align-items-center
      %ul.nav.nav-pills.flex-column.flex-lg-row.nav-justified
        - if policy(::Customer).index?
          %li.nav-item
            = link_to t(".all"), customers_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("index"))}"
        - if policy(::Customer).active?
          %li.nav-item
            = link_to t(".active"), active_customers_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("active"))}"
        - if policy(::Customer).inactive?
          %li.nav-item
            = link_to t(".inactive"), inactive_customers_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("inactive"))}"
      - if policy(::Customer).new?
        = link_to new_customer_path, class: "btn btn-primary" do
          = external_svg_tag("svgs/plus.svg")
          %span.d-block.d-lg-none= button_text("new")
          %span.d-none.d-lg-block= button_text("new_customer")
  .card-body{data: {controller: "select-all-checkbox"}}
    = render_if_exists("customers/customer")
  - if @pagy.pages > 1
    .card-footer
      = render_if_exists("shared/pagination", locals: {pagy: @pagy})
