= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @countries&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{scope: "col"}= t(".name")
        %th{scope: "col"}= t(".iso2")
        %th{scope: "col"}= t(".iso3")
        %th{scope: "col"}= t(".calling_code")
        %th{scope: "col"}= t(".has_postal_code")
        %th{scope: "col"}= t(".currency")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @countries&.each.with_index(1) do |country, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "country_ids[]", country.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= country.name
          %td.fw-bold= country.iso2
          %td= country.iso3
          %td= country.calling_code
          %td= country.has_postal_code
          %td= country.currency_name
          %td.actions
            - if policy(country).edit?
              = link_to external_svg_tag("svgs/pencil.svg"), edit_admin_country_path(country), class: "btn btn-sm btn-secondary",
                data: {turbo_frame: :remote_modal}
            - if policy(country).destroy?
              = link_to external_svg_tag("svgs/trash.svg"), admin_country_path(country), class: "btn btn-sm btn-danger",
                data: {turbo_confirm: t(".delete_country_confirmation_text", country_name: country.name), turbo_method: :delete}
      - end.empty?
        %tr
          %td.fw-bold{colspan: ::Country.columns.count}
            = t(".no_countries_to_display")
