= label_tag :selections, "", class: "form-label", data: {select_all_checkbox_target: "count"}
.table-responsive
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{width: "25px", scope: "col"}#
        - if @currencies&.count > 0
          %th{width: "25px", scope: "col"}
            = check_box_tag "checkbox", nil, false, class: "form-check-input", data: {select_all_checkbox_target: "selectAllCheckbox"}
        %th{scope: "col"}= t(".name")
        %th{scope: "col"}= t(".iso_code") 
        %th{scope: "col"}= t(".countries")
        %th{scope: "col"}= t(".symbol")
        %th{scope: "col"}= t(".subunit")
        %th{scope: "col"}= t(".subunit_to_unit")
        %th{width: "25px", scope: "col"}= t(".actions")
    %tbody
      - if @currencies&.each.with_index(1) do |currency, index|
        %tr
          %td.fw-bold
            = (@pagy.offset + index)
          %td
            = check_box_tag "currency_ids[]", currency.id, false, class: "form-check-input", data: {select_all_checkbox_target: "checkbox"}
          %td.fw-bold= currency.name
          %td.fw-bold= currency.iso_code
          %td= currency.countries.pluck(:name).join(", ")
          %td= currency.symbol
          %td= currency.subunit
          %td= currency.subunit_to_unit
          %td.actions
            = link_to external_svg_tag("svgs/pencil.svg"), edit_admin_currency_path(currency), class: "btn btn-sm btn-secondary",
              data: {turbo_frame: :remote_modal}
            = link_to external_svg_tag("svgs/trash.svg"), admin_currency_path(currency), class: "btn btn-sm btn-danger",
              data: {turbo_confirm: t(".delete_currency_confirmation_text", currency_name: currency.name), turbo_method: :delete}
      - end.empty?
        %tr
          %td.fw-bold{colspan: ::Currency.columns.count}
            = t(".no_currencies_to_display")
