.card.mb-2.mb-lg-0.d-flex
  .card-header
    .card-title= t(".month_report", month_and_year: Date.current.to_fs(:month_and_year))
  .card-body
    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th{width: "25px", scope: "col"}#
            %th{scope: "col"}= t(".store")
            %th{scope: "col"}= t(".category")
            %th{scope: "col"}#
            %th{scope: "col"}= t(".amount")
        %tbody
          - @stores.each.with_index(1) do |store, index|
            - month_expenses = store.expenses.approved.this_month
            - month_purchases = store.purchase_orders.received.this_month
            %tr
              %td.fw-bold{rowspan: 4}= index
              %td.fw-bold{rowspan: 4}= store.name
              %tr
                %th= t(".sells")
                %td 0
                %td= number_to_currency(0, unit: store.currency_symbol)
              %tr
                %th= t(".purchases")
                %td= month_purchases.size
                %td= number_to_currency(month_purchases.total_cost, unit: store.currency_symbol)
              %tr
                %th= t(".expenses")
                %td= month_expenses.size
                %td= number_to_currency(month_expenses.total_amount, unit: store.currency_symbol)
