.card.mb-2.mb-lg-0
  .card-header
    .card-title= t(".today_report")
  .card-body
    .table-responsive
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th{width: "25px", scope: "col", rowspan: 2}#
            %th{scope: "col", rowspan: 2}= t(".store")
            %th{scope: "col", colspan: 2}= t(".sells")
            %th{scope: "col", colspan: 2}= t(".purchases")
            %th{scope: "col", colspan: 2}= t(".expenses")
          %tr
            - 3.times do
              %th{scope: "col"} #
              %th{scope: "col"}= t(".amount")
        %tbody
          - @stores.each.with_index(1) do |store, index|
            - today_expenses = store.expenses.today
            %tr
              %td.fw-bold{rowspan: 2}= index
              %td.fw-bold{rowspan: 2}= store.name
              %tr
                %td 0
                %td= number_to_currency(0, unit: store.currency_symbol)
                %td 0
                %td= number_to_currency(0, unit: store.currency_symbol)
                %td= today_expenses.count
                %td= number_to_currency(today_expenses.sum(&:amount), unit: store.currency_symbol)
