.card.card-primary.border.border-primary
  .card-header
    .d-flex.justify-content-between.align-items-center
      %ul.nav.nav-pills.flex-column.flex-lg-row.nav-justified
        - if policy(::Expense).index?
          %li.nav-item
            = link_to t(".all"), admin_expenses_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("index"))}"
        - if policy(::Expense).pending?
          %li.nav-item
            = link_to t(".pending"), pending_admin_expenses_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("pending"))}"
        - if policy(::Expense).approved?
          %li.nav-item
            = link_to t(".approved"), approved_admin_expenses_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("approved"))}"
        - if policy(::Expense).rejected?
          %li.nav-item
            = link_to t(".rejected"), rejected_admin_expenses_path, class: "flex-sm-fill text-sm-center nav-link #{active_when(current_action?("rejected"))}"
      - if policy(::Expense).new?
        = link_to new_expense_path, class: "btn btn-primary", data: {turbo_frame: :remote_modal} do
          = external_svg_tag("svgs/plus.svg")
          %span.d-block.d-lg-none= button_text("new")
          %span.d-none.d-lg-block= button_text("new_expense")
  .card-body{data: {controller: "select-all-checkbox"}}
    = render_if_exists("expenses/expense")
  - if @pagy.pages > 1
    .card-footer
      = render_if_exists("shared/pagination", locals: {pagy: @pagy})
