.card.card-primary.border.border-primary
  .card-header
    .d-flex.justify-content-end.align-items-center
      - if policy(::Expense).new?
        = link_to new_expense_path, class: "btn btn-primary" do
          = external_svg_tag("svgs/plus.svg")
          %span.d-block.d-lg-none= button_text("new")
          %span.d-none.d-lg-block= button_text("new_expense")
  .card-body{data: {controller: "select-all-checkbox"}}
    = render_if_exists("expenses/expense")
  - if @pagy.pages > 1
    .card-footer
      = render_if_exists("shared/pagination", locals: {pagy: @pagy})
